/* ==============FONT IMPORT - Gaultier============== */
    @font-face {
        font-family: 'Montserrat Thin';
        src: url('fonts/Montserrat-Thin.woff2') format('woff2');
        font-weight: 200;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Montserrat Light';
        src: url('fonts/Montserrat-Light.woff2') format('woff2');
        font-weight: 300;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Montserrat Regular';
        src: url('fonts/Montserrat-Regular.woff2') format('woff2');
        font-weight: 400;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Montserrat Medium';
        src: url('fonts/Montserrat-Medium.woff2') format('woff2');
        font-weight: 500;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Montserrat SemiBold';
        src: url('fontsMontserrat-SemiBold.woff2') format('woff2');
        font-weight: 600;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Montserrat Bold';
        src: url('fonts/Montserrat-Bold.woff2') format('woff2');
        font-weight: 700;
        font-style: normal;
        font-display: swap;
    }

/* ==============RESET============== */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

/* ==============COLOR THEMES============== */
    :root {

        --color-blue2white: #364866;
        --color-orange2white: #d98e77;
        --color-blue2orange: #364866;
        --color-topnav:#E6E6E6;
        --color-line: #d98e77;
        --color-text: #333;
        --color-lightgreyswitch: #7f7f7f;
        --color-switch: #ccc;
        --bg-page: #f6f5f3;
        --color-white: #ffffff;
        --color-landing: #f6f5f3;

    }
    
    /* mobile */
    @media (max-width: 768px) {
      :root {
        --nav-height: 60px;
      }
    }


    [data-theme="dark"] {
        --color-blue2white: #ffffff;
        --color-orange2white: #ffffff;
        --color-blue2orange: #d98e77;
        --color-topnav:#2a2e3a;
        --color-line: #e5e5e5;
        --color-text: #e5e5e5;
        --color-lightgreyswitch: #ffffff;
        --color-switch: #ccc;
        --bg-page: #3a404f;
        --color-white: #ffffff;
        --color-landing: #E6E6E6;

    }

/* ==============GLOBAL STYLES============== */
    html {
        scroll-behavior: smooth;
        [data-lang="en"] {
            display: none;
    }
    }

    body {
        font-family: 'Montserrat', 'Avenir', 'Futura', 'Helvetica-Neue', sans-serif;
        background-color: var(--bg-page);
        color: var(--color-text);
        line-height: 1.4;
        transition: background-color 0.25s ease, color 0.25s ease;
    }

    a {
        color: var(--color-primary);
    }

/* ============== LANDING HEADER ============== */

    .hero {
      min-height: 65vh;
      padding-top: var(--nav-height);
      background-color: var(--color-landing);
      display: flex;
      align-items: flex-start;
      justify-content: center;
      position: relative;
    }
    
    #lottie-wrapper {
      width: 100%;
      display: flex;
      justify-content: center;
    }
        
    #hero-animation {
      width: min(150%, 1200px);
      max-width: 100%;
      height: auto;
    }



/* ============== HEADER CONTROLS ============== */

    .header-controls {
      position: fixed;
      top: 0;
      right: 20px;
      height: 4rem;
      z-index: 9999;

      display: flex;
      align-items: center;
      gap: 1rem;

      padding: 0.6rem 0.9rem;
      border-radius: 12px;
      backdrop-filter: blur(10px);
      background-color: none;

      white-space: nowrap;
    }

    .header-controls-inner {
      display: flex;
      align-items: center;  
      gap: 1rem;
    }

/* ============== DARK MODE TOGGLE ============== */

    .switch {
      display: inline-flex;
      align-items: center;
      width: 50px;
      height: 28px;
      flex-shrink: 0;
    }

    .switch input {
      opacity: 0;
      width: 0;
      height: 0;
      position: absolute;
    }

    .slider {
      position: relative;
      width: 50px;
      height: 28px;
      background-color: var(--color-switch);
      border-radius: 34px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    .slider::before {
      content: "";
      position: absolute;
      width: 22px;
      height: 22px;
      left: 3px;
      top: 3px;
      background-color: var(--color-white);
      border-radius: 50%;
      transition: transform 0.3s ease;
    }

    .switch input:checked + .slider {
      background-color: var(--color-switch);
    }

    .switch input:checked + .slider::before {
      transform: translateX(22px);
    }
/* ============== LANGUAGE SWITCH ============== */

    .lang-switch {
      display: inline-flex;
      align-items: center;
      gap: 0.3rem;
      font-size: clamp(0.9rem, 1vw, 1.5rem);
      white-space: nowrap;
      color-text: #fff;
    }

    .lang-separator {
      opacity: 0.4;
      user-select: none;
      color: var(--color-lightgrey);
    }

    .lang-switch button {
      background: none;
      border: none;
      font-size: 0.9rem;
      line-height: 1;
      letter-spacing: 0.1rem;
      font-family: inherit;
      cursor: pointer;
      padding: 0 0.5rem;
      color: var(--color-lightgrey);

    }

    .lang-switch button.active {
      color: var(--color-blue2white);
      font-weight: 600;
    }

/* ============== NAVIGATION ============== */

    .top-nav {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 4rem;
      padding: 0 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5rem;
      background-color: var(--color-topnav);
      z-index: 999;

      /* hidden by default */
      transform: translateY(-100%);
      opacity: 0;
      pointer-events: none;
      transition: transform 0.35s ease, opacity 0.35s ease;
    }

    body:hover .top-nav,
    .top-nav:hover {
      transform: translateY(0);
      opacity: 1;
      pointer-events: auto;
    }

    .nav-item {
      position: relative;
      display: flex;
      align-items: center;
    }

    /* ===== SUB-NAVIGATION ===== */
    .sub-nav {
      position: absolute;
      top: 100%;
      left: -5%;
      width: 120%;
      background: var(--color-topnav);
      border-radius: 10px;
      overflow: hidden;

      max-height: 0;            
      opacity: 0;
      transform: translateY(-10px);

      transition:
        max-height 0.35s ease,
        opacity 0.25s ease,
        transform 0.35s ease;

      pointer-events: none;
      display: flex;
      flex-direction: column;
      padding: 0;               
    }

    .nav-item:hover .sub-nav {
      max-height: 500px;       
      opacity: 1;
      transform: translateY(0);
      padding: 1rem;
      pointer-events: auto;
    }

    .sub-nav a {
      display: block;
      padding: 0.6rem 0;
      color: var(--color-text);
      font-size: clamp(0.6rem, 0.8vw, 0.8rem);
      font-weight: 200;
      letter-spacing: 0.08rem;
      text-decoration: none;
    }

    .sub-nav a.active {
      font-weight: 600; /* heavier font when active */
      color: var(--color-blue2white); /* optional, to highlight */
    }

    /* ===== MAIN NAV LINKS ===== */
    .top-nav .nav-main {
      display: inline-flex;
      align-items: center;
      text-decoration: none;
      font-size: clamp(0.8rem, 0.9vw, 1rem);
      font-weight: 600;
      letter-spacing: 0.08rem;
      color: var(--color-blue2white);
      white-space: nowrap;
    }

    .top-nav .nav-main:hover,
    .top-nav .nav-main.active {
      color: var(--color-blue2white);
    }

    /* ===== RESPONSIVE ===== */
    @media (max-width: 768px) {
      :root {
        --nav-height: 60px;
      }
    }



/* ==============NAV LOGO============== */

    .JK-logo-svg {
      width: 120px;
      height: 120px;
      display: block;
    }


/* ==============PORTFOLIO GRID============== */

    .portfolio-grid {
        display: grid;
        grid-template-columns: repeat(6, 1fr); /* 6 equal columns */
        gap: 2rem;
        margin-top: 1.5rem;
    }

    .tall {
        grid-row: span 2;  /* spans 2 rows instead of 1 */
    }

    /* Each portfolio item */
    .portfolio-item {
        position: relative;
        height: clamp(18rem, 35vw, 26rem);
        overflow: hidden;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        grid-column: span 2;
    }

    .portfolio-item.wide {
        grid-column: span 3;
    }

    /* Image container */
    .portfolio-item img {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: opacity 0.4s ease;
        will-change: opacity;
    }

    /* Hover image layer */
    .portfolio-item .hover-img {
        position: absolute;
        inset: 0;
        opacity: 0;
        transition: opacity 0.5s ease;
        z-index: 2;
     }

    /* Hover effect */
    .portfolio-item:hover .hover-img {
        opacity: 1;
    }

    /* Title below image */
    .item-title {
        margin-top: 0.5rem;
        font-size: 1rem;
        color: var(--color-text);
        text-align: left;
    }
/* ============== PROJECT 4: 3 IMAGE MINI GRID ============== */

    .project4-item {
      display: grid;
      grid-column: span 2;
      gap: 0.5rem;
      width: 100%;
      height: 100%;
    }

    .project4-img {
      width: 100%;
      height: 100%;
      position: relative;
      overflow: hidden;
      border-radius: 8px;
    }

    .project4-img img {
      grid-column: span ;
      width: 100%;
      height: 100%;
      height: span 1;
      object-fit: cover;
      object-position: left center;
      display: block;
    }

    /* hover */
    .project4-item .project4-img .hover-img {
      position: absolute;
      inset: 0;
      opacity: 0;
      transition: opacity 0.4s ease;
    }

    .project4-item:hover .project4-img .hover-img {
      opacity: 1;
    }

    /* text */
    .project4-text {
      margin-top: 0.5rem;
      font-size: clamp(1rem, 1.2vw, 1.3rem);
      color: var(--color-text);
      text-align: center;
    }

/* ==============SECTIONS============== */
    section {
        padding: 2rem 0;
    }

    .section-content {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 20px;
        padding-inline: clamp(1rem, 2vw, 4rem);
    }

    section h1 {
        margin-top: 0.67rem;
        margin-bottom: 0.67rem;
        font-weight: 600;
        font-size: clamp(3rem, 3.5vw, 5rem);
        text-align: center;
        letter-spacing: 0.08rem;
        color: var(--color-blue2orange);
        font: Circle.std;
    }

    section h2 {
        font-size: clamp(1.8rem, 2vw, 2.5rem);
        margin-bottom: 0.5rem;
        color: var(--color-blue2white);
        font-weight: 600;
        letter-spacing: 0.2rem;
        text-align: center;
    }

    section h3 {
        font-size: clamp(1rem, 1.2vw, 1.8rem);
        padding: 0.5rem 0;
        color: var(--color-text);
        font-weight: 400;
        text-align: center;
        letter-spacing: 0.08rem;

    }

    section h4 {
        font-size: clamp(0.8rem, 1vw, 1.2rem);
        padding: 0.5rem 0;
        color: var(--color-text);
        font-weight: 200;
        text-align: center;
        letter-spacing: 0.08rem;

    }

    section p {
        color: var(--color-text);
        margin-bottom: 1rem;
        text-align: center;
        font-weight: 100;
        letter-spacing: 0.08rem;

    }

    .line {
        width: 0;
        height: 0.1rem;
        margin: 1rem 0;
        background-color: var(--color-line);
        animation: draw 3s forwards;

    }

    @keyframes draw {
        to {
            width: 100%
        }
    }

    .line-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 20px;
      color: var(--color-orange2white);
    }

    .logo-center {
      top: 50;
      bottom: 50%;
      z-index: 2;
    }

    .logo-svg {
      width: 100%;
      height: 100%;

    }

    .text-box-none {
        background-color: var(--color-bg-page); /* leichte Hintergrundfarbe */
        padding: 1rem 1.5rem; /* Abstand innen */
        grid-column: span 2;
        border-radius: 12px; /* abgerundete Ecken */
        border: 1px solid var(--color-bg-page); /* optionaler Rahmen */
        margin: 0 0 3rem 0; /* Abstand nach außen */
    }

    .text-box-wide {
        background-color: var(--color-bg-page); /* leichte Hintergrundfarbe */
        padding: 1rem 1.5rem; /* Abstand innen */
        grid-column: span 3;
        border-radius: 12px; /* abgerundete Ecken */
        border: 1px solid var(--color-bg-page); /* optionaler Rahmen */
        margin: 0 0 3rem 0; /* Abstand nach außen */
    }

    .text-box-wide {
        backdrop-filter: blur(5px);
        box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    }

    .text-box {
        background-color: var(--color-bg-page); /* leichte Hintergrundfarbe */
        padding: 1rem 1.5rem; /* Abstand innen */
        grid-column: span 2;
        border-radius: 12px; /* abgerundete Ecken */
        border: 1px solid var(--color-bg-page); /* optionaler Rahmen */
        margin: 0 0 3rem 0; /* Abstand nach außen */
    }

    .text-box {
        backdrop-filter: blur(5px);
        box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    }

/* ==============ABOUT ME CONTAINER============== */
    .about-container {
        display: flex;
        gap: 2rem;
        align-items: center;
    }

    .profile-img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
        border: 3px solid var(--color-blue2white);
    }

    .about-text p {
        color: var(--color-text);
        text-align: center;
        letter-spacing: 0.08rem;
    }

/* ==============CONTACT SECTION============== */
    #contact {
        color: var(--color-text);
    }

    #contact h2 {
        color: var(--color-blue2white);
        font-size: clamp(2rem, 5vw, 3rem);
        text-align: center;
    }

    #contact p {
        color: var(--color-text);
        text-align: center;
        letter-spacing: 0.08rem;

    }

    #contact a {
        color: var(--color-text);
        text-decoration: none;
        border-bottom: 1px solid var(--color-white);
        transition: opacity 0.3s ease;
    }

    #contact a:hover {
        opacity: 0.7;
    }

    .contact-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 4rem;
        align-items: center;
    }

    .contact-right p {
        margin-bottom: 0.5rem;
    }

/* ==============FOOTER============== */
    footer {
        background-color: var(--color-topnav);
        color: var(--color-white);
        text-align: center;
        padding: 2rem 1rem;
    }

    footer p {
        font-size: 0.9rem;
        color: var(--color-blue2white);
        text-align: center;
        letter-spacing: 0.08rem;
    }

/* ==============RESPONSIVE - TABLET============== */
    @media (max-width: 768px) {
        header {
            padding: 4rem 0;
            min-height: 300px;
        }
        
        .header-content,
        .section-content {
            padding: 0 1.5rem;
        }
        
        .portfolio-grid {
            grid-template-columns: 1fr 1fr;
            gap: 1.5rem;
        }
        
        .contact-section {
            grid-template-columns: 1fr;
            gap: 2rem;
        }
    }

/* ==============RESPONSIVE - MOBILE============== */
    @media (max-width: 480px) {
        header {
            padding: 4rem 0;
            min-height: 250px;
        }
        
        .header-content,
        .section-content {
            padding: 0 2rem;
        }
        
        .portfolio-grid {
            grid-template-columns: 1fr;
        }
    }
