/* ==============FONT IMPORT - Gaultier============== */
    @font-face {
        font-family: 'Montserrat Thin';
        src: url('fonts/Montserrat-Thin.woff2') format('woff2');
        font-weight: 200;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Montserrat Light';
        src: url('fonts/Montserrat-Light.woff2') format('woff2');
        font-weight: 300;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Montserrat Regular';
        src: url('fonts/Montserrat-Regular.woff2') format('woff2');
        font-weight: 400;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Montserrat Medium';
        src: url('fonts/Montserrat-Medium.woff2') format('woff2');
        font-weight: 500;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Montserrat SemiBold';
        src: url('fonts/Montserrat-SemiBold.woff2') format('woff2');
        font-weight: 600;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Montserrat Bold';
        src: url('fonts/Montserrat-Bold.woff2') format('woff2');
        font-weight: 700;
        font-style: normal;
        font-display: swap;
    }

/* ==============RESET============== */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

/* ==============DEBUG OUTLINES============== */
     
  /*  .section-content {
      outline: 2px solid red;
    }

    .section-content-filler {
      outline: 2px solid purple;
    }

    .portfolio-grid {
      outline: 2px solid orange;
    }

    .logo-cat {
      outline: 2px solid blue;
    }

    .logo-cat svg {
      outline: 2px solid purple;
    }

    .line-wrapper {
      outline: 2px solid green;
    }

    h1, h2, h3 {
      outline: 2px solid hotpink;
    }

    */

/* ==============COLOR THEMES============== */
    :root {

        --color-blue2white: #364866;
        --color-orange2white: #d98e77;
        --color-blue2orange: #364866;
        --color-topnav:#E6E6E6;
        --color-line: #d98e77;
        --color-text: #333;
        --color-lighttext: #545454;
        --color-lightgreyswitch: #7f7f7f;
        --color-switch: #ccc;
        --color-background: #ffffff;
        --color-white: #ffffff;
        --color-landing: #f6f5f3;

    }
    
    /* mobile */
    @media (max-width: 768px) {
      :root {
        --nav-height: 60px;
      }
    }


    [data-theme="dark"] {
        --color-blue2white: #ffffff;
        --color-orange2white: #ffffff;
        --color-blue2orange: #d98e77;
        --color-topnav:#2a2e3a;
        --color-line: #e5e5e5;
        --color-text: #e5e5e5;
        --color-lighttext: #e5e5e5;
        --color-lightgreyswitch: #ffffff;
        --color-switch: #ccc;
        --color-background: #3a404f;
        --color-white: #ffffff;
        --color-landing: #E6E6E6;

    }

/* ==============GLOBAL STYLES============== */
    html {
        scroll-behavior: smooth;
    }

    [data-lang="en"] {
        display: none;
    }

    body {
        font-family: 'Montserrat', 'Avenir', 'Futura', 'Helvetica-Neue', sans-serif;
        background-color: var(--color-background);
        color: var(--color-text);
        line-height: 1.4;
        transition: background-color 0.25s ease, color 0.25s ease;

        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    main {
        flex: 1;
    }

    section h1,
    section h2,
    section h3,
    section h4 {
      scroll-margin-top: 4rem; /* height of your fixed header */
    }

/* ============== LANDING HEADER ============== */

    .home {
      min-height: 60vh;
      padding-top: var(--nav-height);
      background-color: var(--color-landing);
      display: flex;
      align-items: flex-start;
      justify-content: center;
      position: relative;
      margin-bottom: 5rem;
    }
    
    #lottie-wrapper {
      width: 100%;
      display: flex;
      justify-content: center;
    }
        
    #home-animation {
      width: min(150%, 1200px);
      max-width: 100%;
      height: auto;
    }

    @media (max-width: 900px) {
        .home {
            max-height: 100px;
        }

        #lottie-wrapper {
            height: 30%;
        }

        #home-animation {
            height: 30%;
        }
    }

/* ==============JK LOGO HEADER ============== */

    .header-logo {
      padding-left: 5rem;  
      display: flex;
      align-items: center;
      justify-self: start;
      flex: 0 0 auto;
      white-space: nowrap;
    }

    .header-logo svg {
      width: 40px; 
      height: 40px;
      flex-shrink: 0;
      max-height: 100%;
      fill: var(--color-blue2orange);

    }  

    @media (max-width: 1000px) {
        .header-logo {
            display: none;
        }
    }

/* ============== HEADER CONTROLS ============== */

    .header-controls {
      top: 0;
      right: 20px;
      height: 4rem;
      z-index: 9999;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 1rem;

      padding: 0.6rem 0.9rem;
      border-radius: 12px;
      backdrop-filter: blur(10px);
      background-color: none;

      white-space: nowrap;
    }

    .header-controls-inner {
      display: flex;
      align-items: center;  
      gap: 1rem;
    }

    @media (max-width: 360px) {
        .header-controls {
            right: 1rem;

        }
    }

/* ============== DARK MODE TOGGLE ============== */

    .switch {
      display: inline-flex;
      align-items: center;
      width: 50px;
      height: 28px;
      flex-shrink: 0;
    }

    .switch input {
      opacity: 0;
      width: 0;
      height: 0;
      position: absolute;
    }

    .slider {
      position: relative;
      width: 50px;
      height: 28px;
      background-color: var(--color-switch);
      border-radius: 34px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    .slider::before {
      content: "";
      position: absolute;
      width: 22px;
      height: 22px;
      left: 3px;
      top: 3px;
      background-color: var(--color-white);
      border-radius: 50%;
      transition: transform 0.3s ease;
    }

    .switch input:checked + .slider {
      background-color: var(--color-switch);
    }

    .switch input:checked + .slider::before {
      transform: translateX(22px);
    }

/* ============== LANGUAGE SWITCH ============== */

    .lang-switch {
      display: inline-flex;
      align-items: center;
      gap: 0.3rem;
      font-size: clamp(0.7rem, 1vw, 1.5rem);
      white-space: nowrap;
      margin: 0;
      justify-self: auto;
      color: #939393;
    }

    .lang-separator {
      opacity: 0.4;
      user-select: none;
      color: var(--color-lightgrey);
    }

    .lang-switch button {
      background: none;
      border: none;
      font-size: 0.9rem;
      line-height: 1;
      letter-spacing: 0.1rem;
      font-family: inherit;
      cursor: pointer;
      padding: 0 0.5rem;
      color: var(--color-lightgrey);

    }

    .lang-switch button.active {
      color: var(--color-blue2white);
      font-weight: 600;
    }

/* ============== NAVIGATION ============== */

    .top-header {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 4rem;

      display: grid;
      grid-template-columns:
        minmax(150px, auto)   
        1fr                  
        minmax(150px, auto); 

      align-items: center;
      padding: 0 1.5rem;
      background-color: var(--color-topnav);
      z-index: 9999;
    }

    .top-nav {  
      display: flex;
      justify-content: center;
      gap: clamp(1rem, 2vw, 1.5rem);
      font-size: clamp(1rem, 1.2vw, 1.3rem);
      min-width: 0;

    }

    .nav-item {
      position: relative;
      display: flex;
      align-items: center;
    }

    /* ===== SUB-NAVIGATION ===== */
    .sub-nav {
      position: absolute;
      top: 100%;
      left: 0%;
      width: 100%;
      background: var(--color-topnav);
      border-radius: 10px;
      overflow: hidden;

      max-height: 0;            
      opacity: 0;
      transform: translateY(-10px);

      pointer-events: none;
      display: flex;
      flex-direction: column;
      padding: 0;               
    }

    .nav-item:hover .sub-nav {
      max-height: 500px;       
      opacity: 1;
      transform: translateY(0);
      padding: 1rem;
      pointer-events: auto;
    }

    .sub-nav a {
      display: block;
      padding: 0.6rem 0;
      color: var(--color-text);
      font-size: clamp(0.7rem, 0.8vw, 0.9rem);
      font-weight: 200;
      letter-spacing: 0.08rem;
      text-decoration: none;
    }

    .sub-nav a.active {
      font-weight: 600; /* heavier font when active */
      color: var(--color-blue2white); /* optional, to highlight */
    }

    .top-nav .nav-main {
      display: inline-flex;
      align-items: center;
      text-decoration: none;
      font-size: clamp(0.7rem, 0.9vw, 1rem);
      font-weight: 600;
      letter-spacing: 0.08rem;
      color: var(--color-blue2white);
      white-space: nowrap;
    }

    .header-controls {
        justify-self: end;
        height: 100%; 
        padding: 0;
    }

    @media (max-width: 1000px) {
     .top-nav {
        display: none;
    }

     .top-header {
        grid-template-columns: 1fr auto;
        padding: 0 1rem;
     }
    }

/* ============== MOBILE NAVIGATION ============== */
    .mobile-nav {
      position: fixed;
      inset: 0;
      background: var(--color-background);
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding-top: 4.5rem;
      text-decoration: none;
      letter-spacing: 0.12rem;

      gap: 1rem;

      transform: translateX(100%);
      transition: transform 0.4s ease;
      z-index: 999;
    }

    .nav-main-mobile {
      text-decoration: none;
      text-align: left;
      margin: 0 4rem;
      padding-top: 0.7rem;



      font-weight: 600;
      font-size: 1.2rem;
      color: var(--color-blue2white);
    }

    .nav-sub-mobile {
      text-decoration: none;
      text-align: left;
      margin-left: 4rem;
      padding-top: 0.2rem;


      font-weight: 200;
      font-size: 1.2rem;
      color: var(--color-blue2white);
      transform: translateY(9px);
    }

    .mobile-nav .sub-nav-mobile {
      display: flex;
      flex-direction: column;
      gap: 0.7rem;
      padding: 0rem 0rem;

      position: static;
      max-height: none;
      opacity: 1;
      transform: none;
      pointer-events: auto;
    }

    .mobile-nav.open {
      transform: translateX(0);
    }

    .nav-toggle {
      display: none;
      position: fixed;
      top: 1rem;
      left: 2rem;
      width: 30px;
      height: 24px;
      background: none;
      border: none;
      z-index: 1000;
      color: var(--color-blue2white);
    }

    .nav-toggle span {
      display: block;
      height: 2.5px;
      border-radius: 2px;
      background: currentColor;
      margin: 6px 0;
    }

    @media (max-width: 900px) {
      .nav-toggle {
        display: block;
      }
    }
   
/* ============== GRID ============== */
    
    .box {

        background-color: #D98e77;
        border-radius: 8px;
        align-items: center;

    }

    .portfolio-grid.project-1 { /* Katzenecke designs */
      display: grid;
      grid-template-columns: repeat(3, 378.667px);
      grid-template-rows: 280px 280px auto;
      gap: 1rem;
      justify-content: center;
      grid-template-areas:
        "box-1 box-2 box-3"
        "box-1 box-2 box-3"
        "box-4 box-5 box-6";
    }

    .portfolio-grid.project-2 { /* Typo designs */
      display: grid;
      grid-template-columns: repeat(4, 280px);
      grid-auto-rows: 280px;
      gap: 1rem;
      justify-content: center;
      grid-template-areas:
        "box-1 box-2 box-2 box-3"
        "box-1 box-4 box-5 box-6";
    }

    .portfolio-grid.project-3 { /* moderne designs */
      display: grid;
      grid-template-columns: repeat(4, 280px);
      grid-auto-rows: 280px;
      gap: 1rem;
      justify-content: center;
      grid-template-areas:
        "box-1 box-2 box-3 box-3"
        "box-1 box-4 box-4 box-5";
    }

    .portfolio-grid.project-4 { /*  Farbvarianten  */ 
      display: grid;
      grid-template-columns: repeat(4, 280px);
      grid-auto-rows: 280px;
      gap: 1rem;
      justify-content: center;
      grid-template-areas:
        "box-1 box-2 box-3 box-4"
        "box-1 box-5 box-6 box-4";
    }

    .portfolio-grid.project-5 { /*  Playful */ 
      display: grid;
      grid-template-columns: repeat(4, 280px);
      grid-auto-rows: 280px;
      gap: 1rem;
      justify-content: center;
      grid-template-areas:
        "box-1 box-2 box-3 box-4"
        "box-1 box-5 box-3 box-6";
    }

    .portfolio-grid.project-6 { /*  Expressive */ 
      display: grid;
      grid-template-columns: repeat(4, 280px);
      grid-auto-rows: 280px;
      gap: 1rem;
      justify-content: center;
      grid-template-areas:
        "box-1 box-2 box-2 box-3"
        "box-1 box-4 box-4 box-3";
    }

    .portfolio-grid.project-7 { /*  Layout */ 
      display: grid;
      grid-template-columns: repeat(4, 280px);
      grid-auto-rows: 280px;
      gap: 1rem;
      justify-content: center;
      grid-template-areas:
        "box-1 box-1 box-2 box-2"
        "box-1 box-1 box-3 box-3";
    }

    .portfolio-grid.project-8 { /*  Classic */ 
      display: grid;
      grid-template-columns: repeat(4, 280px);
      grid-auto-rows: 280px;
      gap: 1rem;
      justify-content: center;
      grid-template-areas:
        "box-1 box-1 box-2 box-3"
        "box-4 box-5 box-6 box-6";
    }

    .portfolio-grid.project-9 { /* Motion design */
      display: grid;
      grid-template-columns: repeat(2, 576px);
      grid-auto-rows: 560px;
      gap: 1rem;
      justify-content: center;
      grid-template-areas:
        "box-1 box-2";
    }

    .portfolio-item {
      position: relative;
      border-radius: 8px;
      overflow: hidden;
    }

    #box-1 { grid-area: box-1; }
    #box-2 { grid-area: box-2; }
    #box-3 { grid-area: box-3; }
    #box-4 { grid-area: box-4; }
    #box-5 { grid-area: box-5; }
    #box-6 { grid-area: box-6; }

    .portfolio-item img.base-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        position: relative;  /* optional, ensures stacking context */
        z-index: 1;
    }    

    .portfolio-item img {
      position: absolute;
      inset: 0;  
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0;
      transition: opacity 0.6s ease;
    }

    .portfolio-item img:first-child {
      opacity: 1;
    }

/* ============== RESPONSIVES ============== */

    @media(max-width: 1200px){ /* Katzenecke designs */
        .portfolio-grid.project-1 {
            grid-template-columns: repeat(3, 280px);
            grid-template-rows: 280px 280px auto;
            justify-content: center;
            grid-template-areas:
            "box-1 box-2 box-3"
            "box-1 box-2 box-3"
            "box-4 box-5 box-6";
        }
    }

    @media(max-width: 1200px){ /* Typo designs */
        .portfolio-grid.project-2 {
            grid-template-columns: repeat(3, 280px);
            grid-auto-rows: 280px;
            justify-content: center;
            grid-template-areas:
            "box-1 box-1 box-2"
            "box-1 box-1 box-3"
            "box-4 box-5 box-6";
        }
    }

    @media(max-width: 1200px){ /* moderne designs */
        .portfolio-grid.project-3 {
            grid-template-columns: repeat(3, 280px);
            grid-auto-rows: 280px;
            justify-content: center;
            grid-template-areas:
            "box-1 box-3 box-3"
            "box-1 box-4 box-4"
            "box-2 box-2 box-5";
        }
    }   

    @media(max-width: 1200px){ /* Farbvarianten */
        .portfolio-grid.project-4 {
            grid-template-columns: repeat(3, 280px);
            grid-auto-rows: 280px;
            justify-content: center;
            grid-template-areas:
            "box-1 box-2 box-3"
            "box-4 box-6 box-6"
            "box-5 box-6 box-6";
        }
    }   

    @media(max-width: 1200px){ /* Playful */
        .portfolio-grid.project-5 {
            grid-template-columns: repeat(3, 280px);
            grid-auto-rows: 280px;
            justify-content: center;
            grid-template-areas:
            "box-1 box-4 box-3"
            "box-1 box-5 box-3"
            "box-2 box-2 box-6";
        }
    }   

    @media(max-width: 1200px){ /* Expressive */
        .portfolio-grid.project-6 {
            grid-template-columns: repeat(3, 280px);
            grid-auto-rows: 280px;
            justify-content: center;
            grid-template-areas:
            "box-1 box-2 box-3"
            "box-1 box-4 box-3";
        }
    }   

    @media(max-width: 1200px){ /* Presentation */
        .portfolio-grid.project-7 {
            grid-template-columns: repeat(3, 280px);
            grid-auto-rows: 280px;
            justify-content: center;
            grid-template-areas:
            "box-3 box-3 box-3"
            "box-1 box-1 box-1"
            "box-1 box-1 box-1"
            "box-2 box-2 box-2";
        }
    }   

    @media(max-width: 1200px){ /* Classy */
        .portfolio-grid.project-8 {
            grid-template-columns: repeat(3, 280px);
            grid-auto-rows: 280px;
            justify-content: center;
            grid-template-areas:
            "box-1 box-1 box-4"
            "box-3 box-5 box-2"
            "box-6 box-6 box-2";
        }
    }   

    @media(max-width: 1200px){ /* Motion Design */
        .portfolio-grid.project-9 {
            grid-template-columns: repeat(2, 420px);
            grid-auto-rows: 520px;
            justify-content: center;
            grid-template-areas:
            "box-1 box-1"
            "box-2 box-2"
        }
    }   

    @media(max-width: 900px){ /* Katzenecke designs */
        .portfolio-grid.project-1 {
            grid-template-columns: repeat(2, 150px);
            grid-template-rows: 150px 150px auto;
            justify-content: center;
            grid-template-areas:
            "box-1 box-2"
            "box-3 box-5"
            "box-4 box-6";
        }
    }


    @media(max-width: 900px){ /* Typo designs */
        .portfolio-grid.project-2 {
            grid-template-columns: repeat(2, 150px);
            grid-auto-rows: 150px;
            justify-content: center;
            grid-template-areas:
            "box-1 box-2"
            "box-1 box-3"
            "box-4 box-4"
            "box-5 box-6";
        }
    }

    @media(max-width: 900px){ /* moderne designs */
        .portfolio-grid.project-3 {
            grid-template-columns: repeat(2, 150px);
            grid-auto-rows: 150px;
            justify-content: center;
            grid-template-areas:
            "box-1 box-2"
            "box-1 box-5"
            "box-3 box-3"
            "box-4 box-4";
        }
    }

    @media(max-width: 900px){ /* Farbvarianten */
        .portfolio-grid.project-4 {
            grid-template-columns: repeat(2, 150px);
            grid-auto-rows: 150px;
            justify-content: center;
            grid-template-areas:
            "box-1 box-2"
            "box-1 box-3"
            "box-5 box-4"
            "box-6 box-4";
        }
    }

    @media(max-width: 900px){ /* playful */
        .portfolio-grid.project-5 {
            grid-template-columns: repeat(2, 150px);
            grid-auto-rows: 150px;
            justify-content: center;
            grid-template-areas:
            "box-1 box-2"
            "box-1 box-5"
            "box-4 box-3"
            "box-6 box-3";
        }
    }

        @media(max-width: 900px){ /* expressive */
        .portfolio-grid.project-6 {
            grid-template-columns: repeat(2, 150px);
            grid-auto-rows: 150px;
            justify-content: center;
            grid-template-areas:
            "box-2 box-2"
            "box-1 box-3"
            "box-1 box-3"
            "box-4 box-4";
        }
    }


    @media(max-width: 900px){ /* layout */
        .portfolio-grid.project-7 {
            grid-template-columns: repeat(2, 150px);
            grid-auto-rows: 150px;
            justify-content: center;
            grid-template-areas:
            "box-1 box-1"
            "box-1 box-1"
            "box-2 box-2"
            "box-3 box-3";
        }
    }

    @media(max-width: 900px){ /* classy */
        .portfolio-grid.project-8 {
            grid-template-columns: repeat(2, 150px);
            grid-auto-rows: 150px;
            justify-content: center;
            grid-template-areas:
            "box-1 box-1"
            "box-2 box-3"
            "box-6 box-6"
            "box-4 box-5";
        }
    }

        @media(max-width: 900px){ /* motion design */
        .portfolio-grid.project-9 {
            grid-template-columns: repeat(2, 150px);
            grid-auto-rows: 150px;
            justify-content: center;
            grid-template-areas:
            "box-1 box-1"
            "box-2 box-2";
        }
    }

/* ============== SECTIONS ============== */
    section {
        padding: 0rem 0;
    }

    .section-content {
        max-width: 1250px;
        width: 100%;
        margin: 0 auto;
        padding-inline: clamp(1rem, 2vw, 4rem);
        scroll-margin-top: 100px;

    }

    .section-content-filler {
        max-width: 1250px;
        transform: translateY(-200px);
        width: 100%;
        margin: 0 auto;
        padding-inline: clamp(1rem, 2vw, 4rem);
    }

    section h1 {
        margin-top: 0.5rem;
        margin-bottom: 1rem;
        font-weight: 200;
        font-size: clamp(1.5rem, 2.5vw, 4rem);
        text-align: center;
        letter-spacing: 0.2rem;
        color: #D98e77;
    }

    section h2 {
        font-size: clamp(1.2rem, 2vw, 2.5rem);
        margin-bottom: 0.5rem;
        color: var(--color-blue2white);
        font-weight: 600;
        letter-spacing: 0.2rem;
        text-align: center;
        padding-bottom: 1rem;

    }

    section h3 {
        font-size: clamp(1.1rem, 2vw, 2.5rem);
        margin-bottom: 0.5rem;
        color: #D98e77;
        font-weight: 600;
        letter-spacing: 0.2rem;
        text-align: center;
        padding-bottom: 1rem;

    }

    section h4 {
        font-size: clamp(1rem, 2vw, 3rem);
        padding: 6rem 0 2rem;
        text-align: left;
        display: block;
        color: var(--color-lighttext);
        font-weight: 200;
        text-align: center;
        letter-spacing: 0.08rem;

    }

    section p {
        font-size: clamp(0.7rem, 0.8vw, 0.85rem);
        color: var(--color-text);
        text-align: center;
        font-weight: 300;
        letter-spacing: 0.08rem;

    }

/* ============== DATENSCHUTZERKLÄRUNG ============== */

    .datenschutz-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 2rem 4rem;
    }

    .datenschutz-box {
        border-radius: 8px;
        background-color: var(--color-background);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: auto; 

        padding: 0.5rem 1.5rem; 
        grid-column: span 2;
        border-radius: 12px; 
        border: 1px solid var(--color-background);
        margin: 0 0 1rem 0; 
   
        backdrop-filter: blur(5px);
        box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    }

    .datenschutz-box h5 {
        font-size: clamp(1.2rem, 1.5vw, 2rem);
        color: var(--color-lighttext);
        font-weight: 400;
        text-align: center;
        letter-spacing: 0.08rem;
        margin: 1rem;
    }

    .datenschutz-box p {
        font-size: clamp(0.7rem, 0.8vw, 0.85rem);
        color: var(--color-lighttext);
        font-weight: 300;
        text-align: center;
        letter-spacing: 0.08rem;
        margin: 1rem;
        margin-bottom: 1.4rem;
    }

    .datenschutz-box b {
        font-weight: 500;
    }

/* ============== TEXTBOXES ============== */

    .text-box {
        background-color: var(--color-background); 
        padding: 0.5rem 1.5rem; 
        grid-column: span 2;
        border-radius: 12px; 
        border: 1px solid var(--color-background);
        margin: 0 0 1rem 0; 
   
        backdrop-filter: blur(5px);
        box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    }


    .text-box-cat {
        background-color: var(--color-background); 
        padding: 0.5rem 1.5rem; 
        grid-column: span 2;
        border-radius: 12px; 
        border: 1px solid var(--color-background);
        margin: 0 0 4rem 0; 
   
        backdrop-filter: blur(5px);
        box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    }

     .text-box-cat-long {
        background-color: var(--color-background); 
        padding: 0.5rem 1.5rem; 
        grid-column: span 2;
        border-radius: 12px; 
        border: 1px solid var(--color-background);
        margin: 0 0 1rem 0; 
   
        backdrop-filter: blur(5px);
        box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    }

    @media(max-width: 1200px) {
        .text-box {
            max-width: 872px;    
            margin: 0 auto;   
        }

        .section-content-filler {
            max-width: 872px;  
            margin: 0 auto;   
     
        }

        .text-box-cat {
            background-color: var(--color-background); 
            padding: 0.5rem 1.5rem; 
            grid-column: span 2;
            border-radius: 12px; 
            border: 1px solid var(--color-background);
            margin: 0 0 4rem 0; 
       
            backdrop-filter: blur(5px);
            box-shadow: 0 4px 12px rgba(0,0,0,0.1);
            height:130px;
        }
    }    

    @media(max-width: 900px) {
        .text-box {
            max-width: 300px;   
            margin: 0 auto;   
    
        }

        .text-box-cat {
            background-color: var(--color-background); 
            padding: 0.5rem 1.5rem; 
            grid-column: span 2;
            border-radius: 12px; 
            border: 1px solid var(--color-background);
            margin: 0 0 1rem 0rem; 
       
            backdrop-filter: blur(5px);
            box-shadow: 0 4px 12px rgba(0,0,0,0.1);
            height: 125px;
        }

        .text-box-cat-long {
            background-color: var(--color-background); 
            padding: 1.5rem 1.5rem; 
            grid-column: span 2;
            border-radius: 12px; 
            border: 1px solid var(--color-background);
            margin: 0 0 1rem 0rem; 
            height: 150px;
       
            backdrop-filter: blur(5px);
            box-shadow: 0 4px 12px rgba(0,0,0,0.1);
        }

        .section-content-filler {
            max-width: 300px;       
            margin: 0 auto;   

        }
    }    

/* ============== LINE ============== */

    .line {
      width: 100%;
      height: 0.15rem;
      border-radius: 8px;
      max-width: calc(280px * 4 + 1rem * 3);
      background-color: var(--color-blue2white);

      transform-origin: left;
      transform: scaleX(0);
      animation: draw 2s ease forwards;

      margin: 2rem 0;

    }

    .line-orange {
      width: 100%;
      height: 0.15rem;
      border-radius: 8px;
      max-width: calc(280px * 4 + 1rem * 3);
      background-color: #D98e77;

      transform-origin: left;
      transform: scaleX(0);
      animation: draw 2s ease forwards;

      margin: 2rem 0;

    }

    @media (max-width: 1200px) {
      .line {
        max-width: calc(280px * 3 + 1rem * 2);
      }
    }

    @media (max-width: 900px) {
      .line {
        max-width: 316px;
      }
    }

    @media (max-width: 1200px) {
      .line-orange {
        max-width: calc(280px * 3 + 1rem * 2);
      }
    }

    @media (max-width: 900px) {
      .line-orange {
        max-width: 316px;
      }
    }

    .line-wrapper {
      width: 100%;
      display: flex;
      margin: 5rem 0;
      justify-content: center;
      z-index: 1;
    }

    @keyframes draw {
      to {
        transform: scaleX(1);
      }
    }

/* ============== LOGO CAT ============== */

    .logo-cat {
      position: relative;         
      margin: 2rem auto;            
      width: 350px;                
      height: auto;                
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 2;
      transform: translateY(-280px);
    }

    .rotating-text {
      transform-origin: 200px 200px; /* center of your SVG */
      animation: spin 40s linear infinite; /* slower rotation, adjust 40s as needed */
    }

    @keyframes spin {
      from { transform: rotate(0deg); }
      to { transform: rotate(360deg); }
    }

    @media (max-width: 900px) {
        .logo-cat {
            width:200px;
            transform: translateY(-205px);
        }
    }

/* ============== VIDEOPT ============== */

    .hover-video {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 1;
      z-index: 2;
    }

/* ============== ABOUT ME CONTAINER ============== */
    .about-container {
        display: flex;
        gap: 2rem;
        align-items: center;
    }

    .profile-img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
        border: 3px solid var(--color-blue2white);
    }

    .about-text p {
        color: var(--color-text);
        text-align: center;
        letter-spacing: 0.08rem;
    }

    .profile img {
        width:170px;
        height: auto;
    }

/* ============== CONTACT SECTION ============== */
    #contact {
        color: var(--color-text);
    }

    #contact h2 {
        color: var(--color-blue2white);
        font-size: clamp(2rem, 5vw, 3rem);
        text-align: center;
    }

    #contact p {
        color: var(--color-text);
        text-align: center;
        letter-spacing: 0.08rem;

    }

    #contact a {
        color: var(--color-text);
        text-decoration: none;
        border-bottom: 1px solid var(--color-white);
        transition: opacity 0.3s ease;
    }

    #contact a:hover {
        opacity: 0.7;
    }

    .contact-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 4rem;
        align-items: center;
    }

    .contact-right p {
        margin-bottom: 0.5rem;
    }

/* ============== FOOTER ============== */

    footer {
        height: 7rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--color-topnav);
    }

    footer p {
        font-size: 0.9rem;
        color: var(--color-blue2white);
        letter-spacing: 0.08rem;
    }

    footer h5 {
        font-size: 0.9rem;
        color: var(--color-blue2white);
    }

    footer a {
        color: var(--color-blue2white);
        text-decoration: none;
        font-size: 0.9rem;
        letter-spacing: 0.08rem;

    }

    footer a:hover {
        text-decoration: underline;
    }

    .footer-inner {
      margin: 0 auto; 
      display: flex;
    }

    .footer-center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        line-height: 1.6rem;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .footer-left {
        margin: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: left;
        text-align: left;
        line-height: 1.6rem;
    }    

    .footer-right {
        margin: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: right;
        text-align: right;
        line-height: 1.6rem;
    }

    .Impressum-Datenschutz {
        display: flex;
        flex-direction: column;
    }

    .Impressum-Datenschutz a {
        color: var(--color-blue2white);
    }

    .Impressum-Datenschutz a:hover {
        text-decoration: underline;
    }

    .JK-Logo2 {
        margin: 0;
        opacity: 12%;
        width: 85px;
        height: 85px;
        fill: var(--color-blue2orange);
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    /* RESPONSIVE - 1200px and smaller */
    @media (max-width: 1000px) {
        footer {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.3rem; 
            padding: 3rem 1rem 1rem;  
            height: auto;
        }

        .footer-right {
            order: 1;
            text-align: center;
            width: 100%;
            display: flex; 
            align-items: center;
            flex-direction: row;
            justify-content: center;
            margin: 0;
            padding: 0;
            top: -10%;
            transform: translateY(-70%);
        }

        .footer-center {
            order: 0;
            text-align: center;
            width: 100%;
            padding: 0;
            margin-top: 1rem;
        }

        .footer-left {
            order: 2;
            text-align: center;
            margin-bottom: 1rem;
            width: 100%;
        }


        .Impressum-Datenschutz {
            font-weight: 600;
            display: flex;
            flex-direction: row;
            gap: 0.5rem;
            align-items: center;
            justify-content: center;
        }

        .Impressum-Datenschutz a {
            color: var(--color-blue2white);
            text-decoration: none;
            white-space: nowrap;
        }
